html, body {
  margin: 0 auto;
  height: 100%;
  background-color: rgb(128, 128, 128);
}

#game {
  height: 100%;
}

#goal {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: relative;
  background-color: none;
}

#modal-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  flex: 0 0 auto;
  min-width: 400px;
  height: 200px;
  background-color: rgb(156, 153, 153);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  box-shadow: 0px 5px 20px -5px;
}

#modal > span {
  margin: 20px auto;
  display: block;
}

#modal > p {
  flex: 1 1;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#modal > div > button {
  display: inline-block;
  margin: 20px 0;
}

#start {
  border: 0;
  border-radius: 5px;
  padding: 7px 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(155, 27, 27);
}

#start:hover {
  background-color: rgb(177, 57, 57);
}

#stats {
  display: none;
}