html, body {
  margin: 0 auto;
  height: 100%;
  background-color: rgb(128, 128, 128);
}

#game {
  height: 100%;
}

#goal {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: relative;
  background-color: none;
}

#modal-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex; /*flex*/
  align-items: center;
  justify-content: center;
}

#modal {
  flex: 0 0 auto;
  min-width: 400px;
  height: 200px;
  background-color: rgb(163, 151, 151);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#modal > span {
  margin: 20px auto;
  display: block;
}

#modal > p {
  flex: 1 1;
}

#modal > div > button {
  display: inline-block;
  margin-bottom: 20px;
}

#stats {
  display: none;
}